{% extends 'header.html' %}
{% block content %}


  <body style="background-color:#651fff;">
      <form action = "/FOAAS/create" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="number" style = "display:none;" value = "{{api_endpoint_id}}" name = "endpoint">
        <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:#263238">Submit
          <i class="material-icons right">send</i>
          <a href="{{ FOAAS_detail }}"></a>
        </button>
      </form>
    </body>
{% endblock %}
